.brand {
    display: flex;
    margin: 0 0 63px;


    &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
    }

    &__title-wrapper {
        padding: 0 0 0 91px;
        flex-grow: 1;
        background-color: $pink;
        display: flex;
        align-items: center;
    }

    &__subtitle {
        display: block;

        font-size: 37px;
        font-weight: 700;
        line-height: 44px;
    }

    &__subtitle-pink {
        color: $dark-pink;
    }
}

.offers {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        color: white;
        width: 360px;
        min-height: 260px;
        background-color: $brown;
        margin: 0 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
    }

    &__info {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        color: #F16D7F;
    }

    &__item {

        &--woman {
            background-image: url(../img/oferts-woman.jpg);
        }

        &--man {
            background-image: url(../img/oferts-man.jpg)
        }

        &--kds {
            background-image: url(../img/oferts-kids.jpg);
        }

        &--accesories {
            background: url(../img/oferts-accsesuaris.jpg) no-repeat;
            background-size: cover;
        }

        &--accesories {
            width: 100%;
            margin: 0;
        }
    }
}

.products {
    margin: 96px 0 0 0;


    &__title {
        text-align: center;
    }

    &__header {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin-bottom: 6px;
    }

    &__header-p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }

    &__cart-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 48px 0 0 0;
    }

    &__cart-item {
        width: 360px;
        min-height: 260px;
        background-color: $gray;
        margin: 0 0 30px 0;
    }
}

.product {

    &__cart-title {
        margin: 25px 0 12px 18px;
        text-transform: uppercase;
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__cart-p {
        margin: 0 28px 18px 16px;
        max-width: 314px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    &__price {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        padding: 0 0 20px 18px;
        color: #F16D7F;
    }

    &__button {
        display: flex;
        justify-content: center;
    }

    &__button-text {
        border: 1px solid #FF6A6A;
        padding: 14.5px 38.5px 13.5px 38.5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        color: #F26376;
    }

}

.advantages {
    margin: 95px 0 0 0;
    background-color: #222224;

    &__place {
        display: flex;
        padding: 130px 230px 104px 230px;
    }

    &__place-text {
        width: 360px;
    }

    &__place-title {
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        padding: 28px 0 16px 0;
        text-align: center;
        color: #FBFBFB;
    }

    &__place-img {
        padding-left: 158px;
    }

    &__place-p {
        font-weight: 300;
        font-size: 13.972px;
        width: 360px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}